# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Secrets
.env
*service-account*.json
secrets/

# Temporary / test files
request.json
response*.txt

# Build artifacts
dist/
build/
